/* Daniel Fernández Bernardino, UO269783 */
/*Especificidad: 001*/
body {
    font-family: Tahoma, sans-serif;
    color: #000000;
    background-color: rgb(242, 239, 202);
  
  }
  
  /*Especificidad: 001*/
  h1 {
    /* color heredado de body*/
    text-transform: uppercase;
    font-size: 2.25em;
    padding: 1%;
  }
  
  /* Especificidad 002 */ 
  h1+p {
    font-size: 1.125em;
  }

  /* Especificidad 001*/
  h2 {
    font-size: 1.75em;
  }
  
  /* Especificidad 002*/
  section {
    /* color de fuente heredado de body*/
    background-color: #97f2c7;
    border: 0.125em solid #057440;
    margin: 5% 5% 0%;
  }
  
  /* Especificidad 001*/
  video {
    max-width: 100%;
    height: auto;
  }  

  /* Especificidad 001*/
  img {
    max-width: 100%;
    height:auto;
  }
  
  /* Especificidad 001*/
  header {
    /* color de fuente heredado de body*/
    background-color: #be84a3;
    border: solid 0.125em purple;
  }
  
  /* Especificidad 001*/
  p {
    margin-left: 2%;
    margin-right: 2%;
  }